.win{
    @apply mt-10 mb-12
    sm:mt-14;
}

.title{
    @apply font-medium text-center text-black text-2xl mb-5
    xl:text-3xl;
}

.subtext{
    @apply text-gray font-light text-center leading-[24px]
    sm:px-24
    md:w-[80%] md:mx-auto
    lg:px-36
    xl:w-[70%]
    2xl:w-[60%] 2xl:text-lg;
}